main {
	min-height: calc(100vh - 160px);
	}

table.table thead th {
	cursor: pointer;
	white-space: nowrap;

	&:hover,
	&:focus,
	&:active {
		color: #c44949;
		}
	}

h1 {
	margin: 0;
	}

form {
	text-align: center;
	padding: 20px 0;

	& label {
		position: relative;
		margin: 0;

		& input.input-movie {
			width: 300px;
			padding-left: 40px;
			}
	}

	& .btn-search {
		background: #fe5e5e;
		color: black;
		height: 42px;
		border-radius: 4px;
		border-color: transparent;
		margin-left: 7px;
		cursor: pointer;
		outline: none;

		&:hover,
		&:focus,
		&:active {
			background: #c04949;
			color: white;
			cursor: pointer;
			outline: none;
			}
		}
 }

img.movie-pic {
	width: 200px;
	height: 300px;
	display: inline-block;

	&:hover,
	&:focus,
	&:active {
		transform: scale(1.2);
		}
	}

h5.movie-title {
	height: 82px;
	overflow-y: hidden;
	width: 200px;
	text-align: center;


	& a {
		color: white;
		&:hover,
		&:focus,
		&:active {
			color: #fe5e5e;
			text-decoration: none;
			}
		}
	}

button.with-keyboard,
button.with-cross {
	display: inline;
	border: none;

	background: transparent;
	width: 0;
	height: 0;
	position: absolute;


	&:hover,
	&:focus,
	&:active {
		outline: none;
		}
	}

button.with-keyboard {
	top: 0;
	right: -1px;
	outline: none;

	&:hover {
		color: #fe5e5e;
		}
	}

button.with-cross {
	color: transparent;
	top: 0;
	right: -1px;
	outline: none;

	& svg {
		&:hover {
			fill:  #fe5e5e;
			}

		&:active {
			fill: #be4949;
			}
		}
	}

.movie-rate {
	color: white;
	}

.movie-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	}

#icon-clear.hidden {
	width: 0;

	}

#icon-clear.shown {
	width: auto;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		fill: black;
		}
	}

#load-icon {
	position: absolute;
	top: 36px;
	right: 0;
	left: 0;
	}

#message {
	position: relative;
	height: 50px;
	text-align: center;
	padding: 20px;
	}

@media (max-width: 410px) {
	form .btn-search {
		width: 300px;
		margin: 20px 0 ;
		}
	}

.container-for-load-icon {
	position: relative;
	}

.swiper-button-prev,
.swiper-button-next {
	color:#fe5e5e;
	cursor: pointer;
	font-size: 30px;

	&:hover,
	&:focus,
	&:active {
		color: #b84444;
		}
	}

.swiper-container {
	height:480px;
	}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 15px;
	}

#message {
	height: 50px;
	margin-top: 20px;
	color: #ffffffc9;
	font-size: 19px;
	}